 /* Author: Kate Fedotova
	Filename: styles.css
	Purpose: styles page FashionFinder */
body {
    margin: 0;
    padding: 0;
    font-family: "Chakra Petch", sans-serif;
    color: #E0FF4F;
    background-color: #00272B;
    overflow-x: hidden; /* prevent horizontal scrollbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* body takes at least the height of the viewport */
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #FF6663;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #E0FF4F;
}

nav ul li a:hover {
    color: #FF2ECC;
}

.logo {
	padding: 10px 20px;
    width: 250px;
    height: auto;
}

.logo-small {
    display: none;
}

/* smaller screens */
@media only screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .logo-small {
        display: block;
        width: 100px;
        height: auto;
    }
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    color: #00272B;
    background-color: #E0FF4F;
    border-top: 1px solid #FF2ECC;
    margin-top: auto;
}

.footer > * {
    flex:  1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
    color: #00272B;
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
    color: #00272B;
}

.nav__title {
    font-weight: 400;
    font-size: 15px;
    color: #00272B;
}

.footer address {
    font-style: normal;
    color: #666;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgba(255, 110, 97, 0.5);
    border-radius: 100px;
    color: #00272B;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
    color: #00272B;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav__ul a {
    color: #666;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

.legal {
    display: flex;
    flex-wrap: wrap;
    color: #666;
}
  
.legal__links {
    display: flex;
    align-items: center;
    color: #666;
}

.heart {
    color: #FF2ECC;
}

@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 40.375em) {
    .footer__nav > * {
        flex: 1;
    }

    .nav__item--extra {
        flex-grow: 2;
    }

    .footer__addr {
        flex: 1 0px;
    }

    .footer__nav {
        flex: 2 0px;
    }
}
.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}
